/app_count.csv
/bus_count.csv
/code_name.csv
/dep_count.csv
/floating_pp.csv
/metro_count.csv
/preprocessing.csv
/resident_pp.csv
/sales.csv
/tour_count.csv
/uni_count.csv
/weekend.csv
/weekend_2.csv
/_census_data_2022_bnd_sigungu_bnd_sigungu_11_2022_2022
/데이터 분석에 쓸 거
/서울시 상권분석서비스(영역-상권)
/종속변수(단위면적당 매출).ipynb
/주소변환.py